* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cuerpo {
    background-color: $color-2;
    
    .barranav {
        background-color: rgb(101, 204, 223) !important;
        .logoclub {
            object-fit: contain;
            margin-left: 55px;
            padding: 5px;
            border-radius: $spacing-1;
            animation-name: aparece;
            animation-duration: 2s;
        }
    }
}

@keyframes aparece {    
    0% {
    transform: translateX(-200px);
    }
}

